In [1]:
import requests
from bs4 import BeautifulSoup

In [6]:
response = requests.get("https://www.lrt.lt/en/news-in-english")
doc = BeautifulSoup(response.content)

In [7]:
items = doc.select(".news")
len(items)

42

In [8]:
items[0]

<div class="news">
<div class="media-block">
<div class="media-block__container">
<div class="media-block__wrapper">
<img alt="Gitanas Nausėda, Ingrida Šimonytė, Arvydas Anušauskas" class="media-block__image js-lazy lazy-load" data-src="/img/2023/02/18/1451044-637891-150x84.jpg" src="/images/pxl.gif" title="Gitanas Nausėda, Ingrida Šimonytė, Arvydas Anušauskas"/>
</div>
<a aria-label="Lithuanian PM voices confidence in defence minister" class="media-block__link" href="/en/news-in-english/19/2050571/lithuanian-pm-voices-confidence-in-defence-minister" title="Lithuanian PM voices confidence in defence minister"></a>
</div>
</div>
<div class="news__content">
<div class="info-block">
<a class="info-block__link" href="/en/news-in-english" title="News">News</a>
<span class="info-block__time-before" title="2023.08.04 17:03"> <strong>4 h ago</strong>
</span>
</div>
<h3 class="news__title"><a href="/en/news-in-english/19/2050571/lithuanian-pm-voices-confidence-in-defence-minister" title="Lithuanian PM voices confidence in defence minister">Lithuanian PM voices confidence in defence minister</a></h3>
</div>
</div>

In [20]:
articles = []
for item in items:
    headline = item.select_one('h3').text
    url = item.select_one('a')['href']
    img = item.select_one('img').get('data-src', None)
    article = {
        'url' : url,
        'headline' : headline,
        'img_path' : img
    }
    articles.append(article)
len(articles)

42

In [21]:
import pandas as pd

df = pd.DataFrame(articles)
df.head()

,url,headline,img_path
0,/en/news-in-english/19/2050571/lithuanian-pm-v...,Lithuanian PM voices confidence in defence min...,/img/2023/02/18/1451044-637891-150x84.jpg
1,/en/news-in-english/19/2050524/lithuania-deems...,"Lithuania deems 1,164 Belarusian and Russian n...",/img/2022/03/01/1207094-733403-150x84.jpg
2,/en/news-in-english/19/2050519/vilnius-ex-mayo...,Vilnius ex-mayor Šimašius returns to private s...,/img/2023/04/17/1491828-404400-150x84.jpg
3,/en/news-in-english/19/2050432/lithuania-s-sup...,Lithuania's support to Ukraine includes helico...,/img/2023/07/20/1555673-67448-150x84.jpg
4,/en/news-in-english/19/2050380/latvia-to-ask-t...,Latvia to ask thousands of Russian citizens to...,/img/2019/08/05/485338-154587-150x84.jpg

In [12]:
items[0]

<div class="news">
<div class="media-block">
<div class="media-block__container">
<div class="media-block__wrapper">
<img alt="Gitanas Nausėda, Ingrida Šimonytė, Arvydas Anušauskas" class="media-block__image js-lazy lazy-load" data-src="/img/2023/02/18/1451044-637891-150x84.jpg" src="/images/pxl.gif" title="Gitanas Nausėda, Ingrida Šimonytė, Arvydas Anušauskas"/>
</div>
<a aria-label="Lithuanian PM voices confidence in defence minister" class="media-block__link" href="/en/news-in-english/19/2050571/lithuanian-pm-voices-confidence-in-defence-minister" title="Lithuanian PM voices confidence in defence minister"></a>
</div>
</div>
<div class="news__content">
<div class="info-block">
<a class="info-block__link" href="/en/news-in-english" title="News">News</a>
<span class="info-block__time-before" title="2023.08.04 17:03"> <strong>4 h ago</strong>
</span>
</div>
<h3 class="news__title"><a href="/en/news-in-english/19/2050571/lithuanian-pm-voices-confidence-in-defence-minister" title="Lithuanian PM voices confidence in defence minister">Lithuanian PM voices confidence in defence minister</a></h3>
</div>
</div>

## What to do with the results

Approach 1: Save it to a simple single csv file.

I want a CSV that always has the most current list of headlines in it, and maybe I want to be able to see a diff of the change every time something is updated.

In [23]:
df.to_csv('current-headlines.csv', index=False)

### Approach 2: Save a different file every time we run the scraper

Good for having easily-accessible data that is maybe weekly or monthly or even daily if you don't mind having hundreds of files in a single folder.

In [24]:
import os

# Try to create a falder called 'data'
# and if it exists, DON'T THROW AN ERROR
os.makedirs('data', exist_ok=True)

In [30]:
from datetime import datetime

date_string = datetime.now().strftime('%Y-%m-%d')
filepath = f'data/{date_string}.csv'

df.to_csv(filepath, index=False)

### Approach 3: Appending to an existing CSV file

This is when you want a snapshot of a point in time and you want to keep track of everything over time.

In [32]:
# Add a new column for today's date

df['scrape_date'] = datetime.now().strftime('%Y-%m-%d')
df.head()

,url,headline,img_path,scrape_date
0,/en/news-in-english/19/2050571/lithuanian-pm-v...,Lithuanian PM voices confidence in defence min...,/img/2023/02/18/1451044-637891-150x84.jpg,2023-08-04
1,/en/news-in-english/19/2050524/lithuania-deems...,"Lithuania deems 1,164 Belarusian and Russian n...",/img/2022/03/01/1207094-733403-150x84.jpg,2023-08-04
2,/en/news-in-english/19/2050519/vilnius-ex-mayo...,Vilnius ex-mayor Šimašius returns to private s...,/img/2023/04/17/1491828-404400-150x84.jpg,2023-08-04
3,/en/news-in-english/19/2050432/lithuania-s-sup...,Lithuania's support to Ukraine includes helico...,/img/2023/07/20/1555673-67448-150x84.jpg,2023-08-04
4,/en/news-in-english/19/2050380/latvia-to-ask-t...,Latvia to ask thousands of Russian citizens to...,/img/2019/08/05/485338-154587-150x84.jpg,2023-08-04

In [35]:
# If it exists, open it
# If it doesn't, just make a blank dataframe
# could also use os.path.exists to check if the file exists
# but honestly try/except is the easiest route to go here

try:
    existing_df = pd.read_csv('always-updated.csv')
except:
    existing_df = pd.DataFrame([])
existing_df.head()

Empty DataFrame
Columns: []
Index: []

In [37]:
combined = pd.concat([df, existing_df], ignore_index=True)
combined.head()

,url,headline,img_path,scrape_date
0,/en/news-in-english/19/2050571/lithuanian-pm-v...,Lithuanian PM voices confidence in defence min...,/img/2023/02/18/1451044-637891-150x84.jpg,2023-08-04
1,/en/news-in-english/19/2050524/lithuania-deems...,"Lithuania deems 1,164 Belarusian and Russian n...",/img/2022/03/01/1207094-733403-150x84.jpg,2023-08-04
2,/en/news-in-english/19/2050519/vilnius-ex-mayo...,Vilnius ex-mayor Šimašius returns to private s...,/img/2023/04/17/1491828-404400-150x84.jpg,2023-08-04
3,/en/news-in-english/19/2050432/lithuania-s-sup...,Lithuania's support to Ukraine includes helico...,/img/2023/07/20/1555673-67448-150x84.jpg,2023-08-04
4,/en/news-in-english/19/2050380/latvia-to-ask-t...,Latvia to ask thousands of Russian citizens to...,/img/2019/08/05/485338-154587-150x84.jpg,2023-08-04

In [38]:
combined.to_csv("always-updated.csv", index=False)